body {
  padding: 15px;
}

.sites {
  font-size: 14px;
  cursor: pointer;
  user-select: none;
}

.leader-input {
  width: 100px;
}

.shortcuts-root {
  margin-top: 40px;
}

.arrow-up {
  border-bottom: 4px solid black;
}

.arrow-down {
  border-top: 4px solid black;
}

.arrow-up, .arrow-down {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  display: inline-block;
  width: 0; 
  height: 0; 
  margin-left: 10px;
  margin-bottom: 2px;
}

.group-container > h3 {
  display: inline-block;
}
