.save-button, .cancel-button {
  margin-top: 5px;
  margin-bottom: 5px;
  min-width: 50px;
}

.cancel-button {
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 10px;
}

.shortcut-input, .shortcut-description {
  width: 200px;
}

.shortcut-description {
  margin-top: 10px;
}

.option-container > button {
  margin: 5px;
}
