.save-button, .cancel-button {
  min-width: 50px;
  width: 50px;
}

.cancel-button {
  margin-left: 5px;
}

.shortcut-input, .shortcut-description {
  width: 200px;
}

.shortcut-description {
  margin-top: 10px;
}

.option-container > button {
  margin: 5px;
}
